<ion-view title="Create a New Account" id="page7" style="background-color:#21212A;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <p ng-show="error" class="error" style="color: #fff; text-align: center">{{error}}</p>
        <form class="list">
            <ion-list></ion-list>
            <div class="list card">
                <div class="item item-divider">Personal Details</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input" name="name">
                            <span class="input-label">Full Name</span>
                            <input type="text" placeholder="John Smith" ng-model="user.name">
                        </label>
                        <label class="item item-input" name="email">
                            <span class="input-label">Email</span>
                            <input type="email" placeholder="me@example.com" ng-model="user.email">
                        </label>
                        <label class="item item-input" name="phone">
                            <span class="input-label">Phone</span>
                            <input type="tel" placeholder="(987) 654-3210" ng-model="user.phone">
                        </label>
                        <label class="item item-input" name="password">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="" ng-model="user.password">
                        </label>
                    </form>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Social Profile Links</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input" name="facebook">
                            <span class="input-label">Facebook</span>
                            <input type="text" placeholder="username" ng-model="user.facebookUsername">
                        </label>
                        <label class="item item-input" name="twitter">
                            <span class="input-label">Twitter</span>
                            <input type="text" placeholder="@handle" ng-model="twitterUsername">
                        </label>
                    </form>
                </div>
                <div class="item item-divider">*required (to verify profile)</div>
            </div>
            <div id="createANewAccount-markdown2" style="color:#FFFFFF;text-align:center;">
                <p>By signing up, I pledge that I shall not
                    <strong>misuse</strong>the product in any way and will
                    <strong>protect</strong>and uphold it's integrity and that of it's surrounding, living, breathing ecosystem.</p>

                <p>Ready? Let's go!</p>
            </div>
            <button id="createANewAccount-button3" class="button button-dark  button-block" ng-click="createUser(user)">Sign up</button>
        </form>
    </ion-content>
</ion-view>