<ion-view title="Publish" id="page3" style="background-color:#21212A;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <button id="publish-button19" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-arrow-back"></button>
            </div>
            <button id="publish-button20" style="color:#71BDE3;" class="button button-positive  button-block button-clear">Publish</button>
            <div style="margin-right:-20px;">
                <button id="publish-button21" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-gear-outline"></button>
            </div>
        </div>
        <section class="row">
          <pagedown-editor ng-model="data.content" show-preview="false" placeholder="Type your markdown text here" editor-rows="25"></pagedown-editor>
          
          <pagedown-viewer id="markdown" content="data.content"></pagedown-viewer>
        </section>
    </ion-content>
</ion-view>