<ion-view title="Publish" id="page3" style="background-color:#21212A;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <button id="publish-button19" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-arrow-back"></button>
            </div>
            <button id="publish-button20" style="color:#71BDE3;" class="button button-positive  button-block button-clear">Publish</button>
            <div style="margin-right:-20px;">
                <button id="publish-button21" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-gear-outline"></button>
            </div>
        </div>
        <div id="publish-markdown4" style="color:#EBEAE8;">
            <h1>Heading 1</h1>

            <h2>Heading 2</h2>

            <h2>Blank Line</h2>

            <p>Some friendly
                <strong>markdown</strong>
                <em>text</em>.</p>

            <blockquote>
                <p>
                    <strong>Note:</strong>
                </p>
                <ul>
                    <li>Bullet 1</li>
                </ul>
            </blockquote>

            <h4>Create a document</h4>

            <p>You can specify column alignment with one or two colons:</p>

            <p>| Item | Value | Qty | | :------- | ----: | :---: | | Computer | $1600 | 5 | | Phone | $12 | 12 | | Pipe | $1 | 234 |</p>

            <h3>Definition Lists</h3>

            <p>
                <strong>Markdown Extra</strong>has a special syntax for definition lists too:</p>

            <p>Term 1 Term 2 : Definition A : Definition B</p>

            <p>Term 3</p>

            <p>: Definition C</p>

            <p>: Definition D</p>

            <pre>
                <code>&gt; part of definition D</code>
            </pre>

            <h3>Fenced code blocks</h3>

            <p>GitHub's fenced code blocks are also supported with
                <strong>Highlight.js</strong>syntax highlighting:</p>

            <p>
                <code>
                    // Foo var bar = 0;
                </code>
            </p>
        </div>
    </ion-content>
</ion-view>