<ion-view title="Publish" id="page3" style="background-color:#21212A;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <button id="publish-button19" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-arrow-back"></button>
            </div>
            <button id="publish-button20" style="color:#71BDE3;" class="button button-positive  button-block button-clear">Publish</button>
            <div style="margin-right:-20px;">
                <button id="publish-button21" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon ion-ios-gear-outline"></button>
            </div>
        </div>
        <section class="row">
          <form>
            <div class="">
              <input type="text" ng-model="article.title" placeholder="Title">
            </div>
            <!-- <h1 ng-model="article.title" medium-editor bind-options="{disableReturn: true, disableExtraSpaces: true, toolbar: false}" data-placeholder="Enter a title" style="color:#fff"></h1> -->

            <!-- <div>
            <h4 style="color: #fff">Tags:</h4>
            <tags-input ng-model="article.tags">
                <auto-complete source="loadItems($query)"></auto-complete>
            </tags-input>
            </div> -->
            <div class="" style="margin-top:1em">
              <input type="text" ng-model="article.description" placeholder="Description">
            </div>
            <pagedown-editor ng-model="article.content" show-preview="false" placeholder="Content" editor-rows="25"></pagedown-editor>
            <!-- <p ng-model="description" medium-editor bind-options="{'toolbar': {'buttons': ['bold', 'italic', 'underline']}}" data-placeholder="Enter a description"></p>
<p ng-model="text" medium-editor bind-options="mediumBindOptions"></p> -->

            <input id="pictures" type="file" ngf-select ng-model='article.photo' accept="image/*" ngf-max-size="2MB" ngf-multiple="true" ngf-keep="true" ngf-keep-distinct="true" class="btn btn-primary"/>

            <div class="padding">
            <button type="submit" class="button button-block button-positive" ng-click="submit(article)">Submit</button>
          </div>
          </form>
          
          <pagedown-viewer id="markdown" content="article.content"></pagedown-viewer>
          <img href="{{article.photo}}">
        </section>
    </ion-content>
</ion-view>