<ion-view title="Read" id="page5" style="background-color:#21212A;">
    <ion-content overflow-scroll="true" padding="true" has-tabs="true" has-header="false">
        <div class="button-bar">
            <div style="margin-right:-20px;">
                <button id="read-logo-beans" class="button button-positive button-block button-clear"><img src="img/beans_logo_white.png" height="45"></button>
<!--
                <button id="read-button13" style="left:-10px;color:#71BDE3;text-align:left;" class="button button-positive  button-full button-clear icon-left ion-ios-arrow-back"></button>
-->
            </div>

            <button id="read-button14" style="font-weight:600;color:#71BDE3;font-size:12px;" class="button button-positive  button-block button-clear">#trending</button>
            <div style="margin-right:-20px;">
                <button id="read-button15" style="left:-10px;color:#71BDE3;" class="button button-positive  button-full button-clear icon-right ion-ios-gear-outline"></button>
            </div>
        </div>
        
        <!--new code start-->
        <div class="list card" ng-repeat="article in articles">

		  <div class="item item-balanced item-avatar">
		    <!-- <img src="img/TechCrunch_Logo_2013.png"> -->
		    <a ng-click="openArticle(article.$id)"><h2>{{article.title}}</h2></a>
		    <!-- <a href="#">{{Users.getProfile(article.userId).$loaded().name}}</a><br> -->

		    <a href="#">{{article.clientName}}</a><br>
		    <span>{{article.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
		  </div>

		  <div class="item item-dark item-body">
		    <a ng-click="openArticle(article.$id)">
			    <!-- <img class="full-image" src="https://tctechcrunch2011.files.wordpress.com/2016/03/boxing-gloves-businessman.jpg" width="100%" height="auto"> -->
			    <img class="preview" data-ng-src="{{article.photo[0]}}"/>  
			</a>
		    <h2>
		      {{article.description}}
		    </h2>

		  </div>
		  <div class="item item-dark item-divider">
		    <h3 align="right">
		      <a href="#" class="subdued">2 min 30 sec</a>
		      <a href="#" class="subdued">$0.50</a>
		    </h3>
		  </div>

		</div>

		<!--new code end-->
        
        <div class="button-bar">
            <button id="read-button10" style="font-weight:300;color:#71BDE3;font-size:13px;" class="button button-positive  button-block button-clear icon ion-ios-infinite"></button>
            <button id="read-button11" style="color:#71BDE3;" class="button button-positive button-large button-block button-clear icon ion-ios-arrow-forward"></button>
        </div>
       
    </ion-content>
</ion-view>