<ion-view title="Splash Screen" id="page2" style="background-color:#A08771;">
    <ion-content overflow-scroll="true" padding="true">
        <div class="spacer" style="width: 300px; height: 179px;"></div>
        <div style="text-align:center;">
            <img src="img/TMAXA0ZS7Wd5qp3bUYr9_logo-white512.png" width="50%" height="auto">
        </div>
         
            <a href="#/tabs/publish">Publish</a>
            <a href="#/tabs/read">Read</a>
            <a href="#/login">Login</a>
            <a href="#/createANewAccount">Create a New Account</a>
            <a href="#/tabs/profile">Profile</a>

        <div class="spacer" style="width: 300px; height: 212px;"></div>
        <div id="splashScreen-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>© 2016 Beans Inc. | Terms &amp; Conditions</p>
        </div>
    </ion-content>
</ion-view>

